.topGreenBar{
    background-color: #00B052;
    width: 100%;
    height: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    background-image: url(images/whiteBg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    align-items: flex-start;
}

.card{
    margin: 10px;
}

.headerDescription{
    font-size: 1.0em;
}
.headerTitle {
    font-size: 2.5em;
}
.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.hospitalDescription{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color:transparent;
    background-color: rgb(246, 249, 250)
}
.teamContainer {
    background-color: rgb(233, 241, 241)
}
.hospitalImage {
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }
  .hospitalContent {
    width: 60%;
    justify-content: center;
    height: 200px;
    align-items: center;
    align-self: center;
}
.doctorDescription {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #00B052;
}

.docImage {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

.docContent {
    width: 50%;
    justify-content: flex-start;
}
.imgRound {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerDescription {
      background-color: rgb(73, 73, 73);
  }

.footerBar{
    background-color:black;
    width: 100%;
    height: 40px;
}
.footerBarParagraphText{
    float: left;
    color: blanchedalmond;
    font-size: 14px;
    padding: 10px;
}
.bottomImage{
    padding: 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/* .mb-3, .my-3{
    bottom: 0px !important;
    margin-bottom: 0px !important;
} */
  
.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
}
.nav-item {
    color: black !important;
}
